<!doctype html>
<html>

<head>
  <link href="../css/main.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Permanent+Marker' rel='stylesheet' type='text/css'>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="../js/bounce.js"></script>
</head>

<body>
<div class="intro">You are cordially invited to</div>

<div class="an-evening" style="margin-top: 30px">an evening of</div>

<div class="having" style="margin-top: 60px">having it all.</div>

<div class="thursday">This Thursday.</div>

<img class="moto" style="display:none;" src="../img/moto.jpg">
<div class="rundown">
  <div class="dinner">There will be dinner.</div>
  <div class="soccer">Then a show.</div>
  <div class="drinks">Then even after show drinks!</div>
</div>
<div class="choicesPrompt" style="display:none;">But for dinner, we've got some options.</div>
<div class="choices">
  <img class="choice ramen" src="../img/ramen.jpg">
  <img class="choice piano" src= "../img/piano.jpg">
  <img class="choice book" src= "../img/book.gif">
  <img class="choice bag" src= "../img/bag.jpg">

</div>

<div class="choice-response">
  <div class="singleChoice ramenChoice">Ramen!
    <li><a href="http://www.yelp.com/biz/izakaya-kou-san-francisco">Izakaya Kou</a></li>
    <li><a href="http://www.yelp.com/biz/izakaya-sozai-san-francisco">Izakaya Sozai</a></li>
    <li><a href="http://www.yelp.com/biz/iza-ramen-san-francisco">Iza Ramen</a></li>
  </div>
  <div class="singleChoice ethiopianChoice"><a href="http://shebapianolounge.com/">Sheba Piano Lounge</a>
    <li>ethiopian food</li>
    <li>jazzy af live band</li>
    <li>close quarters, perfect for footsie, accidental or otherwise</li>
  </div>
  <div class="singleChoice bookChoice"><a href="http://www.thesocialstudysf.com/#home-2-section">The Social Study</a>
    <li>get crazy on tacos and sliders</li>
    <li>stellar cocktails</li>
    <li>as cute and bookish as carey mulligan in "an education"</li>
  </div>
  <div class="singleChoice bagChoice">Take 'Er To-Go</a>
    <li>dealer's choice on food</li>
    <li>obscene poster making on kitchen floor</li>
    <li>lotsa of mandatory lounging to icejjfish soundtrack</li>
  </div>
  <div class="yes"><img src="../img/yes.jpg"></div>
  <div class="yes">I want that.</div>
  <div class="backToMenu" style="padding-top: 40px"><< back >></div>
</div>
  
<div class="great-choice" style="font-size: 70px">Great choice! I couldn't have decided any better.
<br> Looking forward to Thursday!! 
<br>xoxo, vicky </div>

</body>

<script>

var picked; 

$('.yes').each(function() {
    var elem = $(this);
    setInterval(function() {
        if (elem.css('display') == 'none') {
            elem.fadeIn(1000);
        } else {
            elem.fadeOut(1000);
        }    
    }, 1);
});


$('.choice').hover(function () { $(this).css("width", "15%") }, 
  function() { $(this).css("width", "10%") });

$('.choice').click(function () {
  clickChoice($(this).attr("class"))
});

$('.backToMenu').hover(function () { $(this).css("color", "pink") }, 
  function() { $(this).css("color", "black") });

$('.yes').hover(
  function () { 
    $(this).css("color", "pink") 
  }, 
  function() { 
    $(this).css("color", "black") 
  });

$('.yes').click(function () { 
  gotPick()
});


$('.backToMenu').click(function() {
  backToMenu();
});

introFade()

function introFade() {
  
  $(".intro").fadeIn(750, function() { 
    $(".intro").fadeOut(750, function () {
      $(".an-evening").fadeIn(750, function() { 
        $(".an-evening").fadeOut(750, function () {
          $(".having").fadeIn(750, function () {
            $('.having').fadeOut(750, function () {
              $('.thursday').fadeIn(750, function() {
                enterMoto()  
              });
            });
          });
        });    
      });
    }); 
  });
}

function skewChoice() {
  var bounce = new Bounce();
  bounce.skew({
    from: { x: 0, y: 0 },
    to: { x: 20, y: 0 },
    delay: 1000
  })
  .applyTo(document.querySelectorAll(".bag"), options = { loop: true})

}
function shakeChoice() {
  var bounce = new Bounce();
  bounce.translate({
    from: { x:0, y: 0},
    to: { x:20, y: 0},
    duration: 1000,
    bounce: 1
  })
  .translate({
    from: { x:0, y: 0},
    to: { x:-40, y: 0},
    duration: 1000,
    delay: 100,
    bounce: 1
  })
  .translate({
    from: { x:0 , y: 0},
    to: { x:20, y: 0},
    duration: 1000,
    delay: 100,
    bounce: 1
  })
  .applyTo(document.querySelectorAll(".book"), options = { loop: true})
}

function liftChoice() {
  var bounce = new Bounce();
  bounce.translate({
    from: { x:0, y: 0},
    to: { x:0, y: 20},
    duration: 600,
    bounce: 1
  })
  .translate({
    from: { x:0, y: 0},
    to: { x:0, y: -20},
    duration: 600,
    delay: 100,
    bounce: 1
  })
  .translate({
    from: { x:0 , y: 0},
    to: { x:0, y: 0},
    duration: 600,
    delay: 100,
    bounce: 1
  })
  .applyTo(document.querySelectorAll(".piano"), options = { loop: true})
}
  
function rotateChoice() {
  var bounce = new Bounce();
  bounce.rotate({
    from: 0,
    to: -45,
    duration: 1000
  })
  .rotate({
    from: 0,
    to: 45,
    duration: 1000,
    delay: 1000
  })
  .applyTo(document.querySelectorAll(".ramen"), options = { loop: true})

}

function proceedOptions() {
  $('.thursday').hide();
  $('.moto').hide();
  $('.choicesPrompt').fadeIn(1000, function () {
    $('.choice').fadeIn(1400, function() {
      shakeChoice();
      rotateChoice();
      liftChoice();
      skewChoice();
    });

  });
}

function enterMoto() {
  $(".moto").show()

  var bounce = new Bounce();
  bounce.translate({
    from: { x: 0, y: 0 },
    to: { x: 500, y: 0 },
    duration: 6000,
    stiffness: 1,
    bounce:1
  })
  .translate({
    from: { x: 0, y: 0 },
    to: { x: 1000, y: 0 },
    duration: 6000,
    stiffness: 1, 
    delay: 3000
  })
  .applyTo(document.querySelectorAll(".moto"), options = { onComplete: proceedOptions })
}

function clickChoice(className) {
  $('.choicesPrompt').fadeOut(100);
  $('.choices').fadeOut(100);
  var clases = className.split(" ");
  picked = clases[1]
  if (clases.indexOf('ramen')>-1) {
    $('.ramenChoice').fadeIn(1000);
  } 
  if (clases.indexOf('piano')>-1) {
    $('.ethiopianChoice').fadeIn(1000);
  }  
  if (clases.indexOf('book')>-1) {
    $('.bookChoice').fadeIn(1000);
  }  
  if (clases.indexOf('bag')>-1) {
    $('.bagChoice').fadeIn(1000)
  }
  $('.choice-response').fadeIn(1000);
}

function backToMenu() {
  $('.choice-response').hide();
  $('.singleChoice').hide();
  $('.choicesPrompt').fadeIn(300);
  $('.choices').fadeIn(300);
}

function gotPick() {
  $('.choice-response').hide();
  $('.singleChoice').hide();
  $('.great-choice').fadeIn(200);
}

</script>


</html>
