body {
  margin-top: 60px;
  font-family: 'Patrick Hand SC', cursive;
}

.moto {
  position: relative;
}

.intro, .an-evening, .having, .thursday, .sept3rd {
  display: none;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 50px;
  text-align: center;
}


.choicesPrompt {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 70px;
  text-align: center;
}

.choices {
  text-align: center;
  padding: 58px;
}

.choice {
  display: none;
  width: 10%;
  cursor: pointer;
  margin: 50px;
}

.backToMenu {
  position: fixed;
  top: 500px;
  right: 46%;
}

.choice-response, .ramenChoice, .ethiopianChoice, .bookChoice, .bagChoice, .great-choice, .rundown {
  display: none;
  font-size: 30px;
  text-align: center;
}

li {
  list-style-type: none;
}

a {
  color: pink;
}