body {
  margin-top: 60px;

}

.intro, .an-evening, .having, .thursday {
  display: none;
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  text-align: center;
}


.choicesPrompt {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 70px;
  text-align: center;
}

.choices {
  text-align: center;
  padding: 58px;

}

.choice {
  display: none;
  width: 20%;
  cursor: pointer;
  padding: 30px;
}

.shrink-choice {
  width: 15%;
}

